<!doctype html>

<html>
<head>
	<title>Andrew Whipple</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Symbolic Systems undergraduate at Stanford University, former intern at Cheezburger, comedy writer, musician, programmer, and Youtuber.">
	<meta name="robots" content="index, follow">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootswatch.css" rel="stylesheet">
	<!--<link href="/css/introHCI.css" rel="stylesheet">-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	
	<style>
	#bio {
		text-align: center;
	}
	.col-md-3 .homepageContact {
		vertical-align: text-bottom;
	}
	.row {
		vertical-align: middle;
	}
	</style>
	
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div id="wrap">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navvar-collapse-1">
						<span class="sr-only">Toggle navigatoin</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Home</a>
				</div>
				
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!-- Highlighted-->
						<!--<li class="active"><a href="#">Link</a></li>-->
						<li><a href="/writing">Writing</a></li>
						<li><a href="/music">Music</a></li>
						<li><a href="/games">Games</a></li>
						<!--<li><a href="/websites">Websites</a></li>-->
						<li><a href="/youtube">Youtube</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/resume">Resume</a></li>
						<!--<li>
							<a href="!"><span class="glyphicon glyphicon-music"></span>
							</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-film"></span></a>
						</li>-->
						<!-- Normal
						<li><a href="#">Link</a></li>
							-->
						<!-- Dropdown
						<li class="dropdown">
							<a href="#" class"dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Thing</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>-->
					</ul>
				</div>
			</div>
			
			
			
			
		</nav>
		
		

		<div class="container">
			
			<div class="row">
				<div class="col-md-8">
					<br>
					<br>
					<img src="/images/LogoFont2.png" height="100%" width="100%">
					<br>
			<h3 id="bio">Symbolic Systems undergraduate at Stanford University, former intern at Cheezburger, comedy writer, musician, programmer, and Youtuber.</h3>
			<br>
			<br>
			<em id="bio"><h4>Email: andrewthewhip[AT]gmail[DOT]com</h4>
			<h4>Twitter: @AndrewTheWhip</h4></em>
			<br><br>
			

			<p id="bio"><a href="https://www.youtube.com/watch?v=vIL4-5AIaSE">Meow.</a></p>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<br>
			<em><strong>Not me, but probably my favorite twitter</strong></em>
			<br><a class="twitter-timeline" href="https://twitter.com/everypunk" data-widget-id="524549653493063680">Tweets by @everypunk</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		
	</div>
	
	
		</div>
		<!--<div class="container">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          Student
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse">
		      <div class="panel-body">
First and foremost, I’m currently a student. I study Symbolic Systems at Stanford University, and I have a concentration in Human-Computer Interaction. But I’ve also taken quite a lot of other classes, in subjects ranging from literature, to creative writing, to film studies, to even (gasp) physics. 
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          Programmer
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
Along those lines, I’m a pretty good programmer. I’ve taken coursework covering general programming methodology, systems programming, computability theory, human-computer interaction design, and game design. I’ve made some games, some websites, and some instruments. A list of the languages I’m fluent in is right here. I also interned this past summer with <a href="cheezburger.com">Cheezburger</a>, aka the best humor site on this world-wide-web of ours, working with both the iOS team on their design documents, and the editorial team on emerging technologies and general day-to-day funniness.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          Writer
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
…Which dovetails nicely into the fact that I am also a writer! Other than the boatloads of analytical papers I’ve written throughout my student career, I’ve been known to occasionally write plays, short stories, reviews, and personal essays. 
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		          Musician
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
I also write music (and play it too, I guess…) I was a drummer/lyricist/manager/producer for my high school rock band, I write comedy and fandom themed songs, I have an original alt-country EP, a half-original-half-covers folk punk EP, and I do covers of songs on Youtube. You can hear my music in all the linked places above, as well as my bandcamp and soundcloud pages. I can write, perform, and mix (and can fake my way around mastering.) Plus I’ve taken a class in psychoacoustics! Neat, huh?
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		          Theater-Person
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse">
		      <div class="panel-body">
I do a lot of theater. I occasionally act in things, but now I mostly do technical theater. Particularly I do sound design, light design, and stage management (and I’m trying my hand at directing my first big production next year!)
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          Youtuber
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
I make vast-talking, occasionally interesting vlogs right here on Youtube. You could also watch my old Youtube show, The A-Dub Club, where I talked about geeky stuff with my friend Wade. Along with this, I’m quite proficient in iMovie and Final Cut. I’m learning Premiere. I can make stuff happen, but I wouldn’t totally call myself proficient yet. 
		      </div>
		    </div>
		  </div>	  		  		  		  		  
		</div>
	<h3>Contact</h3>
		<p>I wouldn’t call myself a social media guru by any stretch, but I do have a <a href="twitter.com/andrewthewhip">twitter</a> and a <a href="andrewthewhip.tumblr.com">tumblr</a> that you can check out. 
<br><br>
<b>If you are interested in having me use any of these talents, or if you just want to say hi, contact me on twitter (@AndrewTheWhip) OR email me (andrewthewhip[AT]gmail[DOT]com)</b> </p>
	
	</div>-->
			
			
	<div id="push"></div>
</div>

		<div id="footer">
		      <div class="container" id="socialFoot">
		        <a href="https://twitter.com/andrewthewhip"><img src="/images/Twitter.png" height="40" width="40"></a>
				<a href="https://andrewthewhip.tumblr.com"><img src="/images/Tumblr.png" height="40" width="40"></a>
				<a href="https://www.pinterest.com/andrewthewhip/"><img src="/images/Pinterest.png" height="40" width="40"></a>
				<a href="https://youtube.com/theandrewwhipple"><img src="/images/Youtube.png" height="40" width="40"></a>
				<a href="https://soundcloud.com/andrew-whipple"><img src="/images/Soundcloud.png" height="40" width="40"></a>
				<a href="https://instagram.com/andrewthewhip"><img src="/images/Instagram.png" height="40" width="40"></a>
				<a href="https://www.linkedin.com/profile/view?id=311645742&trk=nav_responsive_tab_profile_pic"><img src="/images/Linkedin.png" height="40" width="40"></a>
				
				<em id="copyright">© Andrew Whipple 2014</em>
		      </div>
		</div>
		
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<!--{{#each projects}}
		<div class="project" id="project{{id}}">
			<div class="thumbnail">
				<a href="#">
					<img src="{{image}}" alt="Lorem Pixel image" class="img project-img">
					<p>{{title}}</p>
				</a>
				<div class="details"></div>
			</div>
		</div>
		{{/each}}-->

	

	


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48462411-4', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
