<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	
	<title>Andrew Whipple</title>
	
	<meta name="description" content="Design portfolio for Andrew Whipple, HCI student at Stanford University">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/index.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2 col-lg-3">
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 col-lg-6 logoFrame" id="">
				<img src="./images/logo.png" id="logo">
				<img src="./images/logobackground.png" id="logoBackground">
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 col-lg-3">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1 col-xs-1">
			</div>
			<div class="col-md-5 col-xs-5 col-lg-5">
				<img src="./images/projectlink.png" id="projectLink">
			</div>
			<div class="col-md-5 col-xs-5 col-lg-5" id="contactBox">
				<img src="./images/contactlink.png" id="contactLink">
			</div>
			<div class="col-md-1 col-xs-1">
			</div>
		</div>
		<div class="row" id="meowTest">
			<div class="col-md-1 col-xs-1">
			</div>
			<div class="col-md-10 col-xs-10">
				<!--<img src="./images/projectB.png" class="projectPage">-->
				<div class="row projectFrame">
					<img src="./images/project1.png" class="projectPage" id="project1">
				</div>
				<div class="row projectFrame">
					<a href="#" id="timebuddyLink" target="_blank"><img src="./images/project2.png" class="projectPage" id="project2"></a>
				</div>
				<div class="row projectFrame">
					<a href="http://nightvale2048.herokuapp.com" id="nightValeLink" target="_blank"><img src="./images/project3.png" class="projectPage" id="project3"></a>
				</div>
				<div class="row projectFrame">
					<a href="http://andrewwhipple.com/thecat" id="theCatLink" target="_blank"><img src="./images/project4.png" class="projectPage" id="project4"></a>
				</div>		
			</div>
			<div class="col-md-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-xs-1">
			</div>
			<div class="col-md-10 col-xs-10 bottomButtonFrame">		
				<img src='./images/homebutton.png' class="projectPage" id="bottonHomeButton">
			</div>
			<div class="col-md-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-xs-1">
			</div>
			<div class="col-md-10 col-xs-10">		
				<img src='./images/contactpage.png' id="contactPage">
			</div>
			<div class="col-md-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-xs-1">
			</div>
			<div class="col-md-10 col-xs-10">		
				<img src='./images/prize.png' id="prize">
			</div>
			<div class="col-md-1 col-xs-1">
			</div>
		</div>
		
	</div>

	<script src="./js/jquery-1.11.2.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/index.js"></script>
</body>

</html>