<!doctype html>

<html>
	
<head>
	
	<style> 
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.spacer {
			color: red;
		}
		
	}
	
	@media only screen and (min-device-width : 481px) {
		.spacer {
			color: blue;
		}
	}
	
	.spacer { 
	}
	.frame {		
		position: absolute;
		top: 50px;
		background-color: red;
		height: auto;
		width: auto;
	}
	body {
		background-image: url('/css/Spiral/1.png');
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		
		
	}
	</style>
</head>

<body>
	<div class="spacer"></div>
	
	
	<script src="/js/jquery-1.11.2.js"></script>
	<script src="/js/spiral.js"></script>
</body>
</html>